.tank{
    background-color: yellow;
}

.water{
    background-color: aqua;
}
body{
  
    /* margin-top: 15%; */
    
    height: 0px;
    width: 800px;
    background-color: white;
}

table{
    margin-top: 50px;
    border: 1px solid black;
    height: 200px;
    width: 1000px
}

#output{
    margin-top: 80%;
}


